@font-face {
    font-family: "Lato";
    src: url("themes/boot/static/Lato-Bold.ttf") format('truetype');
    src: url("themes/boot/static/Lato-Regular.ttf") format('truetype');
    font-display: swap;
}
body {
    font-family: "Lato" !important;
}