@font-face {
    font-family: "Lato";
    src: url("/Lato-Bold.ttf") format('truetype');
    src: url("/Lato-Regular.ttf") format('truetype');
    font-display: auto;
}
body {
    font-family: "Lato" !important;
}