<nav class="white">
    <div class="container navbar">
      <a href="#!" class="black-text brand-logo left">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons" style="font-size:40px;color:black">menu</i></a>
      <ul class="right hide-on-med-and-down">
          {{ range .Site.Menus.mainmenu}}
          <li><a class="black-text" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
      </ul>
    </div>
  </nav>

  <ul class="sidenav right" id="mobile-demo">
        {{ range .Site.Menus.mainmenu}}
        <li><a class="black-text" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
  </ul>